/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

		body {
			background-color: #e8e8e8;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			}
		.content {
			width: 906px;
			margin: 0px auto;
			font-size: 20px;
			font-weight: 400;
			}
			ul {
				margin: 60px 0 0;
			}
			ul>li {
				background: url(../img/icons/check_icon_39.png) left no-repeat;
				padding: 0 0 0 35px;
			}
			.list_ul {
				padding: 0 0 0 91px;
				line-height: 36px;
				color: #273d46;
			}
			.list_1 li:first-child {
				text-decoration: line-through;
			}
			.list_1 li:nth-child(2) {
				font-weight: 700;
			}
			.list_1 li:nth-child(3) {
				font-style: italic;
			}
			.list_1 li:last-child {
				text-transform: uppercase;
			}
			.list_2 li:hover:nth-child(2) {
				color: red;
				background: url(../img/icons/check_icon_95.png) left no-repeat;
			}
			p.button {
				margin: 40px 130px;
				font-size: 0;
				background: rgba(128,183,179,0.54);
				height: 44px;
				width: 199px;
				padding: 3px 0 0 22px;
				box-shadow: 0px 1px 2px 0px rgba(128,183,179,1);
				border-radius: 50px;
				cursor: pointer;
			}
			.button a{
				display:inline-block;
				text-align: center;
				line-height: 40px;
				color: #fff;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 4px;
				background: url(../img/icons/shape_2_9.png) right no-repeat;
				padding: 0 30px 0 0;
			}
			p.button:hover {
				background-color: #3a5856;
			}
			p.button:active {
				background-color: #818181;
			}
			.textinput {
				width: 294px;
				height: 52px;
				border: 1px solid #b0b0b0;
				font-size: 20px;
				margin: 0 0 0 90px;
			}
			.textinput:focus {
				border: 1px solid #7fbed5;
				box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
			}



